{% extends 'base.html.twig' %}

{% block title %}
    A propos de nous
                
            
        
    
{% endblock %}

{% block body %}
    <h1>
        Mieux qu'une page de présentation
        <h1>
            <p>
                Parce que c'est vachement rigolo
            </p>
            <canvas> </canvas>
        {% endblock %}
        